/* Navigation styling */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    /* Aligns logo and menu items on either side */
    align-items: center;
    background: white;
    padding: 15px 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #d1d5db;
    height: 80px;
}

nav h2 {
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    /* Ensures the menu items align to the right */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #60a5fa;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #60a5fa;
}

nav ul li a:hover::after {
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e3a8a;
    color: white;
    margin-top: 40px;
}
