*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    height: 100%;
    background: antiquewhite;
    font-family: Calibri;
}
a{
    all: none;
}

/* Basic Layout */

.periodic_table{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(18, 4.5vw);
    grid-gap: 0.3vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.35vw;
}
.periodic_element{
    background-color: white;
    aspect-ratio: 1;
    border-radius: 0.3vw;
    transition: 200ms;
}
.leer{
    width: 1fr;
    aspect-ratio: 1;
    background: none;
}
.periodic_element:hover{
    transform: scale(1.1);
    cursor: default;
}
.periodic_element h2{
    margin-top: 0.5vw;
    font-size: 1.8vw;
    text-align: center;
}
.periodic_element p{
    font-size: 0.7vw;
    text-align: center;
}

/* Buttons */

.input{
    grid-column: 6/9;
    transition: 200ms;
}
#input{
    height: 4.5vw;
    width: 100%;
    font-size: 1.8vw;
    border-radius: 0.3vw;
    border: none;
}
button{
    border: none;
    font-size: 1vw;
    border-radius: 0.3vw;
}
.button_1{
    grid-column: 6/8;
    transition: 200ms;
}
.button_2{
    grid-column: 8/10;
    transition: 200ms;
}
#select{
    grid-column: 9/10;
    transition: 200ms;
}
.input{
    grid-column: 6/9;
    transition: 200ms;
}

/* Buttons-Hover */

.input:hover{
    transform: scale(1.033);
}
.button_1:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.button_2:hover{
    transform: scale(1.05);
    cursor: pointer;
}
#select:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* Label */

.watch{
    grid-column: 6/8;
}
.time{
    text-align: center;
    font-size: 3vw;
    height: 4.5vw;
    line-height: 4.5vw;
}
#score{
    text-align: center;
    font-size: 3vw;
    height: 4.5vw;
    line-height: 4.5vw;
}
.score{
    grid-column: 8/10;
}
.lanthanoide{
    grid-column: 1/3;
    font-size: 1.5vw;
    text-align: center;
    height: 4.5vw;
    line-height: 4.5vw;
    font-weight: bold;
}
.actinoide{
    grid-column: 1/3;
    text-align: center;
    font-size: 1.5vw;
    height: 4.5vw;
    line-height: 4.5vw;
    font-weight: bold;
}



/* Properties */

.nichtmetall{
    background-color: #99FF99;
}
.halbmetall{
    background-color: #DDDDBB;
}
.edelgas{
    background-color: #BBBBFF;
}
.alkali{
    background-color: #FF8888;
}
.erdalkali{
    background-color: #FFAADD;
}
.halogen{
    background-color: #FFFF99;
}
.übergang{
    background-color: #BBFFFF;
}
.metall{
    background-color: #CCCCCC;
}
.lantha{
    background-color: #FFCC99;
}
.acti{
    background-color: #FFBB77;   
}
.flüssig{
    color: blue;
}
.gasförmig{
    color: red;
}
.radioaktiv{
    text-decoration: underline;
}
.unbekannt{
    color: gray;
}


























a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}





