*{
    font-family: Calibri;
}

.links li a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
    
}

.links li a:hover {
    text-decoration: none;
    color: grey;
    font-size: 2.1vw;
}

.links h1 {
    font-size: 3vw;
}